.Container1{
    display: flex;
    width: 20%;
    background-color: chocolate;
    flex-wrap: wrap;
}

.Container2{
    display: flex;
    width: 20%;
    background-color: turquoise;
    flex-wrap: wrap-reverse;
}