.box{
    padding: 20px;
    margin: 20px;
    height: 50px;
    background-color: burlywood;
    align-self:center;

}

.Container1{
    display: flex;
  background-color: aqua;
    height: 600px;
    column-gap: 10px;
    row-gap: 10px;
    
}
.box1{
  align-self:center;
}