.box{
    width:150px;
    height:150px;
    position:relative;
    left:200px;
    top:5px;
    animation-name:dora_movement;
    animation-duration: 10s;
}
    @keyframes dora_movement {
        25%{
            left: 900px;
            top: 20px;
        }
        50%{
            left: 900px;
            top: 500px;
        }
        75%{
            left: 20px;
            top: 500px;
        }
        100%{
            left: 20px;
            top: 20px;
        }
        
    }

}
.house{
    width: 50px;
    height:100px;
}
.forest{
    width: 300px;
    height:250px;
    position: relative;
    left: 500px;

}
.mount{
    width: 250px;
    height:250px;
    position: relative;
    top: 350px;
    right: 555px;
    
}
.giant{
    width:250px;
    height: 250px;
    position: relative;
    top:350px;
}
div{
    width: 500px;
    height: 250px;
    display: flex;
    
}