.box{
    padding: 20px;
    margin: 10px;
    border: 10px solid aqua ;

}
.box1{
    border: 5px solid green;
    margin: 20px;
    padding: 10px;
}
.Container1{
    background-color: burlywood;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
    
}
.Container2{
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;
    padding: 10px;
    margin: 10px;
}